<module name="Checker">
    <module name="TreeWalker">
        <module name="AvoidStarImport"/>
        <module name="ConstantName"/>
        <module name="EmptyBlock">
            <property name="option" value="TEXT"/>
        </module>
        <module name="AbstractClassName"/>
        <module name="ClassFanOutComplexity">
            <property name="max" value="10"/>
        </module>

        <module name="ClassDataAbstractionCoupling">
            <property name="max" value="5"/>
        </module>

        <module name="MethodCount">
            <property name="maxTotal" value="50"/>
        </module>

    </module>
</module>
